# Node dependencies
node_modules/
npm-debug.log*

# Hardhat
cache/
artifacts/
typechain/
typechain-types/

# Environment
.env

# MacOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
